* {
    padding: 0;
    border: 0;
    margin: 0;
    scroll-behavior: smooth;
}

header {
    top: 0px;
    width: 100%;
    position: sticky;
    z-index: 1000;
    background-color: white;
}

ul > li {
    color: #4A4A49;
    list-style-type: none;
}
a {
    text-decoration: none;
}

.flex {
    display: flex;
}
.grid {
    display: grid;
}
.center {
    display: grid;
    place-content: center;
}
.center-align {
    text-align: center;
}
.flex-column {
    flex-direction: column;
}

@view-transition {
    navigation: auto;
}

/* --------- HEADER ---------- */
.img-logo img {
    width: 12rem;
}
.nav {
    justify-content: space-between;
    padding-inline: 2rem;
}
.enlace {
    gap: 3.5rem;
}
.enlace > li > a {
    color: #4A4A49;  
    transition: all .3s ease-in-out;
    font-size: 15px; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}
.enlace > li > a:hover {
    color: #3EAB35;
}
.btn > button {
    background-color: #3EAB35;
    color: white;
    border-radius: 10px;
    padding-block: .9rem;
    padding-inline: 1.7rem;
    font-size: clamp(15px, 3vw, 17px);
    cursor: pointer;
    transition: all .3s ease-in-out;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}
.btn > button:hover {
    background-color: #309128;
}
.display-none {
    display: none;
}
#burger-menu, .burger-label {
    display: none;
}

#enlace-nos {
    color: #3EAB35;
}

#google_translate_element {
    width: 170px;
    height: 25px;
}

/* --------- FONDO MULTI-MAQUILA  ---------- */
.multi-maquila {
    position: relative;
    background-color: black;
}
.img-multi img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: .3;
}
.multi-info {
    position: relative;
}
.multi-maquila {
    height: 680px;
}
.logo-multi img {
    width: 15rem;
}
.text-multi {
    color: white;
}
.sub-title, .sub-title-multi {
    font-size: clamp(50px, 3vw, 60px);
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}
.sub-title-multi {
    color: #33CC33;
}
.sub-title-text {
    gap: .6rem;
}
.sub-title-text > p {
    font-size: clamp(17px, 3vw, 18px);
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 400;
}
.sub-title-button  button {
    background-color: #3EAB35;
    color: white;
    border-radius: 10px;
    padding-inline: 1.3rem;
    padding-block: .8rem;
    font-size: clamp(15px, 3vw, 17px); 
    transition: all .3s ease-in-out;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;   
}
.sub-title-button  button:hover {
    background-color: #33CC33;
}
.gap2rem {
    gap: 2rem;
}
.gap3rem {
    gap: 3rem;
}
.gap4rem {
    gap: 4rem;
}
.gap4rem-2 {
    gap: 4rem;
}
.gap5rem {
    gap: 5rem;
}

/* --------- NOSOTROS  ---------- */
.nosotros-multi {
    background-color: white;
    padding: 5rem;
}
.title-multi {
    color: #3EAB35;
    text-transform: uppercase;
    font-size: clamp(23px, 3vw, 25px);
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}
.nosotros-title {
    color: #3EAB35;
    text-transform: uppercase;
    font-size: clamp(16px, 3vw, 25px);
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
}
.nosotros-text {
    width: 360px;
    text-align: justify;
    font-size: clamp(17px, 3vw, 20px);
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 400;
}
.nosotros-img img {
    width: 24rem;
}
.servicios {
    padding-bottom: 3rem;
}
.gap-nosotros {
    gap: 7rem;
}

/*--------- SERVICIOS  ---------- */
.serv {
    margin-top: 2rem;
}
.grid-column-servicio {
    grid-template-columns: repeat(1, auto);
}
.item, .item-2, .item-3 {
    border-radius: 15px;
    padding: 1.2rem;
    width: 210px;
    height: 400px;
}
.item {
    background-color: #C8EFC3;
    box-shadow: 6px 6px 6px rgb(201, 201, 201);
}
.item-2 {
    background-color: #3EAB35;
    box-shadow: 6px 6px 6px rgb(201, 201, 201);
}
.item-3 {
    background-color: #99E293;
    box-shadow: 6px 6px 6px rgb(201, 201, 201);
}
.item-img img {
    width: 200px;
    height: 160px;
    object-fit: cover;
    border-radius: 10px;
}
.item-title {
    color: #0B290A;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
}
.item-title-2 {
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
}
.item-text {
    color: #0B290A;
    font-size: 16px;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 400;
}
.item-text-2 {
    color: white;
    font-size: 16px;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 400;
}
.item-button > a {
    font-size: clamp(10px, 3vw, 15px);
    background-color: #3EAB35;
    padding-inline: 1.3rem;
    padding-block: .8rem;
    border-radius: 2rem;
    color: white;
    transition: all .3s ease-in-out;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}
.item-button > a:hover {
    background-color: #309128;
}
.item-button-2 > a {
    font-size: clamp(10px, 3vw, 15px);
    background-color: #C8EFC3;
    padding-inline: 1.3rem;
    padding-block: .8rem;
    border-radius: 2rem;
    color: #0B290A;
    transition: all .3s ease-in-out;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}
.item-button-2 > a:hover {
    background-color: #99e293;
}
.item-button-3 > a {
    font-size: clamp(10px, 3vw, 15px);
    background-color: #C8EFC3;
    padding-inline: 1.3rem;
    padding-block: .8rem;
    border-radius: 2rem;
    color: #0B290A;
    border: 1px solid #66CB5D;
    transition: all .3s ease-in-out;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}
.item-button-3 > a:hover {
    background-color: #297223;
}
.gap-servicio {
    gap: 4rem;
}
.gappx {
    gap: 25px;
}
.gappx2 {
    gap: 15px;
}

/*------- BANNER -------*/
.banner-img img {
    width: 100%;
}
.banner-img-2 {
    display: none;
}

/*-------- OPTIMIZA --------*/
.optimiza-title {
    color: #3EAB35;
    text-transform: uppercase;
    font-size: clamp(18px, 3vw, 25px);
}
.optimiza-info {
    margin-top: 2rem;
}
.optimiza-img img {
    width: 25rem;
}
.optimiza-pregunta {
    color: #297223;
    font-size: clamp(20px, 3vw, 26px);
    width: 360px;
    font-weight: bold;
    text-align: justify;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
}
.optimiza-text {
    width: 410px;
    text-align: justify;
    font-size: clamp(17px, 3vw, 20px);
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 400;       
}
.gappx3 {
    gap: 30px;
}
.gappx3-2 {
    gap: 30px;
}

/*--------- FOOTER ---------*/
.footer {
    background-color: #309128;
    padding: 5rem;
}
.footer-text {
    color: white;
    text-transform: uppercase;
    font-size: clamp(34px, 3vw, 40px);
    width: 370px;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
}
.gappx4 {
    gap: 30px;
}
.footer-btn button {
    background-color: #c8efc3;
    color: #0b290a;
    text-transform: uppercase;
    padding-inline: 1.5rem;
    padding-block: .9rem;
    font-size: clamp(12px, 3vw, 15px);
    border-radius: 40px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}
.footer-btn button:hover {
    background-color: #99e293;
}
.gappx5 {
    gap: 18px;
}
.red {
    padding-block: 1rem;
}
.icon-footer {
    font-size: clamp(25px, 3vw, 28px);
    color: #0b290a;
    padding-left: 1.2rem;
}
.text {
    font-size: clamp(16px, 3vw, 18px);
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 400; 
}
.text > a {
    color: white;
}
.my-social {
    padding-left: 1.1rem;
}
.social {
    border-radius: 100%;
    padding-inline: 15.2px;
    padding-block: 10px;
    background-color: #c8efc3;
    color: #0b290a;
    font-size: clamp(17px, 3vw, 20px);
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.face:hover {
    color: white;
    background-color: #3b5998;
}
.what:hover {
    color: white;
    background-color: #25d366;
}
.ins:hover {
    color: white;
    background-color: #C13584;
}
.tik:hover {
    color: white;
    background-color: black;
}
.footer-title {
    text-transform: uppercase;
    color: #0B290A;
    font-size: clamp(12px, 3vw, 13px);
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}
.h-footer > a {
    color: white;
    font-size: clamp(14px, 3vw, 17px);
    transition: all .3s ease-in-out;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 400; 
}
.h-enlace > a {
    color: white;
    font-size: 17px;
    transition: all .3s ease-in-out;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 400; 
}
.h-enlace-2 > div > a {
    color: white;
    font-size: 17px;
    transition: all .3s ease-in-out;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 400; 
}
.h-enlace-gap {
    gap: 1rem;
}
.h-enlace-gap-2 {
    gap: 3rem;
}
.gap3rem {
    gap: 3rem;
}
.gap5rem2 {
    gap: 5.8rem;
}
.gap6rem {
    gap: 6rem;
}
.gap3rem-footer {
    gap: 3.5rem;
}
.gap6rem-footer {
    gap: 4.5rem;
}
.gap6rem-footer-2 {
    gap: 4rem;
}
.gaprem {
    gap: 4rem;
}
.gaprem-footer {
    gap: 2rem;
}
.grid-column-3-pt2 {
    grid-template-columns: repeat(2, auto);
}
.footer-img a > img {
    width: 420px;
    height: 500px;
    border-radius: 15px;
    transition: all .3s ease-in-out;
}
.footer-img a > img:hover {
    scale: 1.1;
}
.my-gap {
    gap: 7rem;
}

@media(max-width: 1150px) {
    /* --------- HEADER ---------- */
    .btn {
        display: none;
    }
    .logo-menu {
        display: block;
    }
    .logo-menu img {
        width: 250px;
    }
    .burger {
        display: block;
    }
    .burger-label {
        font-size: clamp(20px, 3vw, 25px);
    }
    .flex-column2 {
        flex-direction: column;
    }
    .enlace {
        background-color: white;
        position: absolute;
        width: 100%;
        max-width: 300px;
        z-index: 6;
        top: 0px;
        left: -100%;
        gap: 3rem;
        padding-block: .6rem;
        padding-inline: 2rem;
        height: 100vh;
        transition: all .3s ease-in-out;
    }
    .btn-2 {
        display: block;
    }
    .btn-2 button {
        background-color: #3EAB35;
        width: 100%;
        color: white;
        border-radius: 10px;
        padding-block: .9rem;
        padding-inline: 1.2rem;
        font-size: clamp(15px, 3vw, 18px);
        cursor: pointer;
        transition: all .3s ease-in-out;
    }
    .btn-2 > button:hover {
        background-color: #309128;
    }
    .burger-label {
        display: block;
    }

    #burger-menu:checked ~ .enlace {
        left: 0px;
    }

    /*------- FOOTER ------------*/
    .footer {
        padding: 3rem;
    }
    .gap6rem-footer {
        gap: 5rem;
    }
}
@media(max-width: 900px) {
    /* --------- HEADER ---------- */
    .btn {
        display: none;
    }
    .logo-menu {
        display: block;
    }
    .logo-menu img {
        width: 250px;
    }
    .burger {
        display: block;
    }
    .burger-label {
        font-size: clamp(20px, 3vw, 25px);
    }
    .flex-column2 {
        flex-direction: column;
    }
    .enlace {
        background-color: white;
        position: absolute;
        width: 100%;
        max-width: 300px;
        z-index: 6;
        top: 0px;
        left: -100%;
        gap: 3rem;
        padding-block: .6rem;
        padding-inline: 2rem;
        height: 100vh;
        transition: all .3s ease-in-out;
    }
    .btn-2 {
        display: block;
    }
    .btn-2 button {
        background-color: #3EAB35;
        width: 100%;
        color: white;
        border-radius: 10px;
        padding-block: .9rem;
        padding-inline: 1.2rem;
        font-size: clamp(15px, 3vw, 18px);
        cursor: pointer;
        transition: all .3s ease-in-out;
    }
    .btn-2 > button:hover {
        background-color: #309128;
    }
    .burger-label {
        display: block;
    }

    #burger-menu:checked ~ .enlace {
        left: 0px;
    }

    .img-logo img {
        width: 10rem;
    }
    .nav {
        padding-block: .5rem;
        padding-inline: 1.5rem;
    }

    /* --------- FONDO MULTI-MAQUILA  ---------- */
    .logo-multi {
        display: none;
    }
    .img-multi img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0px;
        left: 0px;
        opacity: .3;
    }
    .multi-info {
        position: relative;
    }
    .multi-maquila {
        height: 600px;
    }

    /* --------- NOSOTROS  ---------- */
    .nosotros-multi {
        padding: 3rem;
    }
    .n-1 {
        margin-top: 2.3rem;
    }
    .flex-column3 {
        flex-direction: column;
    }
    .center-special {
        display: grid;
        place-content: center;
    }
    .gaprem {
        gap: 1rem;
    }
    .gap-nosotros {
        gap: 2rem;
    }
    .nosotros-img img {
        width: 20rem;
    }
    
    /*--------- SERVICIOS  ---------- */
    .flex-column-serv {
        flex-direction: column;
    }
    .center-serv {
        align-items: center;
        justify-content: center;
    }

    /*--------- OPTIMIZA  ---------- */
    .optimiza-img {
        display: none;
    }
    .gaprem2 {
        gap: 3rem;
    }
    .optimiza-info {
        margin-top: 0;
    }

    /*-------- FOOTER ----------*/
    .footer {
        padding: 3rem;
    }
    .flex-column-footer {
        flex-direction: column-reverse;
    }
    .gap6rem-footer {
        gap: 3rem;
    }
    .gap6rem-footer-2 {
        gap: 4rem;
    }

    .grid-column-3-pt2 {
        grid-template-columns: repeat(2, auto);
    }
    .gap3rem-footer {
        gap: 2rem;
    }
    .my-gap {
        gap: 4rem;
    }
}

@media(max-width: 850px) {
    /* --------- HEADER ---------- */
    .btn {
        display: none;
    }
    .logo-menu {
        display: block;
    }
    .logo-menu img {
        width: 250px;
    }
    .burger {
        display: block;
    }
    .burger-label {
        font-size: clamp(20px, 3vw, 25px);
    }
    .flex-column2 {
        flex-direction: column;
    }
    .enlace {
        background-color: white;
        position: absolute;
        width: 100%;
        max-width: 300px;
        z-index: 6;
        top: 0px;
        left: -100%;
        gap: 3rem;
        padding-block: .6rem;
        padding-inline: 2rem;
        height: 100vh;
        transition: all .3s ease-in-out;
    }
    .btn-2 {
        display: block;
    }
    .btn-2 button {
        background-color: #3EAB35;
        width: 100%;
        color: white;
        border-radius: 10px;
        padding-block: .9rem;
        padding-inline: 1.2rem;
        font-size: clamp(15px, 3vw, 18px);
        cursor: pointer;
        transition: all .3s ease-in-out;
    }
    .btn-2 > button:hover {
        background-color: #309128;
    }
    .burger-label {
        display: block;
    }

    #burger-menu:checked ~ .enlace {
        left: 0px;
    }

    .img-logo img {
        width: 10rem;
    }
    .nav {
        padding-block: .5rem;
        padding-inline: 1.5rem;
    }

    /* --------- FONDO MULTI-MAQUILA  ---------- */
    .logo-multi {
        display: none;
    }
    .img-multi img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0px;
        left: 0px;
        opacity: .3;
    }
    .multi-info {
        position: relative;
    }
    .multi-maquila {
        height: 600px;
    }

    /* --------- NOSOTROS  ---------- */
    .nosotros-multi {
        padding: 3rem;
    }
    .n-1 {
        margin-top: 2.3rem;
    }
    .flex-column3 {
        flex-direction: column;
    }
    .center-special {
        display: grid;
        place-content: center;
    }
    .gaprem {
        gap: 1rem;
    }
    .gap-nosotros {
        gap: 2rem;
    }
    .nosotros-img img {
        width: 20rem;
    }
    
    /*--------- SERVICIOS  ---------- */
    .flex-column-serv {
        flex-direction: column;
    }
    .center-serv {
        align-items: center;
        justify-content: center;
    }

    /*--------- OPTIMIZA  ---------- */
    .optimiza-img {
        display: none;
    }
    .gaprem2 {
        gap: 3rem;
    }
    .optimiza-info {
        margin-top: 0;
    }

    /*-------- FOOTER ----------*/
    .footer {
        padding: 3rem;
    }
    .flex-column-footer {
        flex-direction: column-reverse;
    }
    .gap6rem-footer {
        gap: 3rem;
    }
    .gap6rem-footer-2 {
        gap: 3rem;
    }

    .grid-column-3-pt2 {
        grid-template-columns: repeat(1, auto);
    }
    .gap3rem-footer {
        gap: 4rem;
    }
    .my-gap {
        gap: 4rem;
    }
    .h-enlace-gap-2 {
        gap: 5rem;
    }
}

@media(max-width: 550px) {
    /* --------- HEADER ---------- */
    .btn {
        display: none;
    }
    .logo-menu {
        display: block;
    }
    .logo-menu img {
        width: 100%;
    }
    .burger {
        display: block;
    }
    .burger-label {
        font-size: clamp(20px, 3vw, 25px);
    }
    .flex-column2 {
        flex-direction: column;
    }
    .enlace {
        background-color: white;
        position: absolute;
        width: 50%;
        z-index: 6;
        top: 0px;
        left: -100%;
        gap: 3rem;
        padding-block: .6rem;
        padding-inline: 2rem;
        height: 100vh;
        transition: all .3s ease-in-out;
    }
    .btn-2 {
        display: block;
    }
    .btn-2 button {
        background-color: #3EAB35;
        width: 100%;
        color: white;
        border-radius: 10px;
        padding-block: .9rem;
        padding-inline: 1.2rem;
        font-size: clamp(15px, 3vw, 18px);
        cursor: pointer;
        transition: all .3s ease-in-out;
    }
    .btn-2 > button:hover {
        background-color: #309128;
    }
    .burger-label {
        display: block;
    }

    #burger-menu:checked ~ .enlace {
        left: 0px;
    }

    /*-------- NOSOTROS -----------*/
    .text-multi {
        padding: 2rem;
    }
    .gap4rem-2 {
        gap: 3rem;
    }
    
    /*--------- OPTIMIZA ----------*/
    .optimiza-text {
        width: 350px;
    }

    /*------- BANNER -------*/
    .banner-img img {
        display: none;
    }
    .banner-img-2 {
        display: block;
    }
    .banner-img-2 img {
        width: 100%;
    }

    /*-------- FOOTER ----------*/
    .footer {
        padding-block: 3rem;
        padding-inline: 1rem;
    }
    .flex-column-footer {
        flex-direction: column-reverse;
    }
    .gap6rem-footer {
        gap: 3rem;
    }
    .gap6rem-footer-2 {
        gap: 3rem;
    }

    .grid-column-3-pt2 {
        grid-template-columns: repeat(2, auto);
    }
    .gap3rem-footer {
        gap: 2.5rem;
    }

    .footer-text {
        font-size: 30px;
        width: 100%;
    }
    .footer-img div {
        width: 250px;
        height: 320px;
    }
    .center-special-2 {
        justify-content: center;
        align-items: center;
    }
    .footer-img a > img {
        width: 100%;
        height: 100%;
        border-radius: 15px;
        transition: all .3s ease-in-out;
    }

    .grid-column-3-pt2 {
        grid-template-columns: repeat(1, auto);
    }
    .h-enlace-gap-2 {
        gap: 4rem;
    }
}

@media(max-width: 400px) {
    /* --------- HEADER ---------- */
    .btn {
        display: none;
    }
    .logo-menu {
        display: block;
    }
    .logo-menu img {
        width: 100%;
    }
    .burger {
        display: block;
    }
    .burger-label {
        font-size: clamp(20px, 3vw, 25px);
    }
    .flex-column2 {
        flex-direction: column;
    }
    .enlace {
        background-color: white;
        position: absolute;
        width: 50%;
        z-index: 6;
        top: 0px;
        left: -100%;
        gap: 3rem;
        padding-block: .6rem;
        padding-inline: 1.3rem;
        height: 100vh;
        transition: all .3s ease-in-out;
    }
    .btn-2 {
        display: block;
    }
    .btn-2 button {
        background-color: #3EAB35;
        width: 100%;
        color: white;
        border-radius: 10px;
        padding-block: .9rem;
        padding-inline: 1.2rem;
        font-size: clamp(15px, 3vw, 18px);
        cursor: pointer;
        transition: all .3s ease-in-out;
    }
    .btn-2 > button:hover {
        background-color: #309128;
    }
    .burger-label {
        display: block;
    }

    #burger-menu:checked ~ .enlace {
        left: 0px;
    }

    /*-------- NOSOTROS -------*/
    .nosotros-text {
        width: 230px;
    }
    .nosotros-img img {
        width: 17rem;
    }

    /*-------- OPTIMIZA -------*/
    .optimiza-pregunta {
        width: 230px;
    }
    .optimiza-text {
        width: 250px;
    }
  
    /*-------- FOOTER ----------*/
    .footer {
        padding: 3rem;
        padding-inline: 1rem;
    }
    .flex-column-footer {
        flex-direction: column-reverse;
    }
    .gap6rem-footer {
        gap: 3rem;
    }
    .gap6rem-footer-2 {
        gap: 2.7rem;
    }

    .grid-column-3-pt2 {
        grid-template-columns: repeat(2, auto);
    }
    .gap3rem-footer {
        gap: 2rem;
    }

    .footer-text {
        font-size: 30px;
        width: 100%;
    }
    .footer-img div {
        width: 250px;
        height: 320px;
    }

    .grid-column-3-pt2 {
        grid-template-columns: repeat(1, auto);
    }
    .h-enlace-gap-2 {
        gap: 1rem;
    }
    .enlace-flex-column {
        flex-direction: column;
    }   
}