* {
    padding: 0;
    border: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: "Inria Sans", sans-serif;
}
header {
    top: 0px;
    width: 100%;
    position: sticky;
    z-index: 1000;
}
header {
    background-color: white;
}
ul > li {
    color: #4A4A49;
    list-style-type: none;
}
a {
    text-decoration: none;
}

.flex {
    display: flex;
}
.grid {
    display: grid;
}
.center {
    display: grid;
    place-content: center;
}
.center-align {
    text-align: center;
}
.flex-column {
    flex-direction: column;
}

/* --------- HEADER ---------- */
.img-logo img {
    width: 12.5rem;
}
.nav {
    justify-content: space-between;
    padding-block: .05rem;
    padding-inline: 1.8rem;
}
.enlace {
    gap: 5rem;
}
.enlace > li > a {
    color: #4A4A49;  
    transition: all .3s ease-in-out;
    font-size: clamp(15px, 3vw, 20px); 
}
.enlace > li > a:hover {
    color: #3EAB35;
}
.btn > button {
    background-color: #3EAB35;
    color: white;
    border-radius: 10px;
    padding-block: .9rem;
    padding-inline: 1.7rem;
    font-size: clamp(15px, 3vw, 18px);
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.btn > button:hover {
    background-color: #309128;
}
.display-none {
    display: none;
}
#burger-menu, .burger-label {
    display: none;
}

/*--------- FOOTER ---------*/
.footer {
    background-color: #309128;
    padding: 5rem;
}
.footer-text {
    color: white;
    text-transform: uppercase;
    font-size: clamp(25px, 3vw, 34px);
    width: 370px;
}
.gappx4 {
    gap: 30px;
}
.footer-btn button {
    background-color: #c8efc3;
    color: #0b290a;
    text-transform: uppercase;
    padding-inline: 1.5rem;
    padding-block: .9rem;
    font-size: clamp(12px, 3vw, 15px);
    border-radius: 40px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.footer-btn button:hover {
    background-color: #99e293;
}
.gappx5 {
    gap: 18px;
}
.red {
    padding-block: 1rem;
}
.icon-footer {
    font-size: clamp(28px, 3vw, 25px);
    color: #0b290a;
    padding-left: 1.2rem;
}
.text {
    font-size: clamp(17px, 3vw, 20px);
}
.text > a {
    color: white;

}
.my-social {
    padding-left: 1.1rem;
}
.social {
    border-radius: 100%;
    padding-inline: 14px;
    padding-block: 9px;
    background-color: #c8efc3;
    color: #0b290a;
    font-size: clamp(15px, 3vw, 20px);
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.face:hover {
    color: white;
    background-color: #3b5998;
}
.ins:hover {
    color: white;
    background-color: #C13584;
}
.tik:hover {
    color: white;
    background-color: black;
}
.footer-title {
    text-transform: uppercase;
    color: #0B290A;
    font-size: clamp(13px, 3vw, 14px);
}
.h-footer > a {
    color: white;
    font-size: clamp(15px, 3vw, 19px);
    transition: all .3s ease-in-out;
}
.gappx3 {
    gap: 30px;
}
.gap3rem {
    gap: 3rem;
}
.gap5rem2 {
    gap: 5.8rem;
}
.gap6rem {
    gap: 6rem;
}
.gaprem {
    gap: 4rem;
}


@media(max-width: 768px) {
    /* --------- HEADER ---------- */
    .btn {
        display: none;
    }
    .logo-menu {
        display: block;
    }
    .logo-menu img {
        width: 250px;
    }
    .burger {
        display: block;
    }
    .burger-label {
        font-size: 25px;
    }
    .flex-column2 {
        flex-direction: column;
    }
    .enlace {
        background-color: white;
        position: absolute;
        width: 100%;
        max-width: 300px;
        z-index: 6;
        top: 0px;
        left: -100%;
        gap: 3rem;
        padding-block: .6rem;
        padding-inline: 2rem;
        height: 100vh;
        transition: all .3s ease-in-out;
    }
    .btn-2 {
        display: block;
    }
    .btn-2 button {
        background-color: #3EAB35;
        width: 100%;
        color: white;
        border-radius: 10px;
        padding-block: .9rem;
        padding-inline: 1.2rem;
        font-size: clamp(15px, 3vw, 18px);
        cursor: pointer;
        transition: all .3s ease-in-out;
    }
    .btn-2 > button:hover {
        background-color: #309128;
    }
    .burger-label {
        display: block;
    }

    #burger-menu:checked ~ .enlace {
        left: 0px;
    }

    /* --------- FONDO MULTI-MAQUILA  ---------- */
    .logo-multi {
        display: none;
    }

    /* --------- NOSOTROS  ---------- */
    .n-1 {
        margin-top: 2.3rem;
    }
    .flex-column3 {
        flex-direction: column;
    }
    .center-special {
        display: grid;
        place-content: center;
    }
    .gaprem {
        gap: 1rem;
    }
    
    /*--------- SERVICIOS  ---------- */
    .servicios {
        display: none;
    }

    /*--------- OPTIMIZA  ---------- */
    .optimiza-img {
        display: none;
    }
    .gaprem2 {
        gap: 3rem;
    }
    .gappx3 {
        gap: 20px;
    }
    .optimiza-info {
        margin-top: 0;
    }
}